* {
  box-sizing: border-box;
}

#container {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  user-select: none;
}

#board {
  height: 450px;
  width: 450px;
}

.row {
  width: 100%;
  height: 150px;
  display: flex;
}
