* {
  box-sizing: border-box;
}

.column {
  height: 150px;
  width: 100%;
  background: #78b2b4;
  border: 3px solid cadetblue;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
