#footer {
  width: 500px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.box {
  height: 100px;
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.player-name,
#tilesHeading {
  font-size: 1.2rem;
  font-weight: 500;
}

.score,
#filledTilesCount {
  font-weight: 500;
  font-size: 1.5rem;
}
