* {
  box-sizing: border-box;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 1rem;
  user-select: none;
}

#currentPlayer {
  font-size: 1.6rem;
  font-weight: 700;
}
